* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:url('../assets/bg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
    text-align: center;
    font-size: 50px;
    width: 45%;
    font-weight: 900;
    background-image: linear-gradient(180deg, rgba(131,58,180,1) 7%, rgba(240,210,35,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px black;
}

.bg-header {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%);
    width: 45%;
    height: 10%;
    border-radius: 14px;
    box-shadow:  8px 8px 10px #815422, -8px -8px 10px #505e83;
    z-index: -1;
    background-color: rgba(225,225,225,0.25);
}


.bg-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 45%;
    height: 60%;
    background-color: rgba(225,225,225,0.25);
    box-shadow: 0 25px 25px rgba(0,0,0,0.1);
    border: 1px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
}

.item {
    margin: 5px;
}
.awalan, .labelCelcius, .labelFahrenheit, .labelKalkulasi {
    text-align: justify;
    font-weight: bold;
    color: #000;
}
.inputCelcius, .inputFahrenheit, .kalkulasi {
    width: 500px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 10px;
    outline-color: #000;
    background-color: transparent;
}
main div .button {
    flex-direction: row;
    width: 500px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
}
.konversi, .reset, .reverse {
    width: 75px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: #000;
    border-radius: 8px;
    margin-right: 20px;
    transition: 0.3s;
}

.konversi {
    color: #05fa77;
    text-shadow: 0 0 4px #73f1ae;
    border: solid 2px #05fa77;

}
.konversi:hover {
    color: #000;
    text-shadow: 0 0 0 #000;
    background-color: #05fa77;
    border: solid 2px #05fa77;
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(5, 250, 119, 0.5), 0 0 40px rgba(5, 250, 119, 0.5), 0 0 80px rgba(5, 250, 119, 0.5);
}

.reset {
    color: #d63333;
    text-shadow: 0 0 4px #ff0000;
    border: solid 2px #d63333;
}
.reset:hover {
    color: #000;
    text-shadow: 0 0 0 #000;
    background-color: #d63333;
    border: solid 2px #d63333;
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(214, 51, 51, 0.5), 0 0 40px rgba(214, 51, 51, 0.5), 0 0 80px rgba(214, 51, 51, 0.5);
}

.reverse {
    color: #398bee;
    text-shadow: 0 0 4px #2661d6;
    border: solid 2px #398bee;
}
.reverse:hover {
    color: #000;
    text-shadow: 0 0 0 #000;
    background-color: #398bee;
    border: solid 2px #398bee;
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(57, 139, 238, 0.5), 0 0 40px rgba(57, 139, 238, 0.5), 0 0 80px rgba(57, 139, 238, 0.5);
}

.konversi:active, .reset:active, .reverse:active {
    border: solid 2px #000;
    transform: scale(1.1);
    transition: 0.1s;
}

.inputCelcius:focus {
    outline-color:  rgb(11, 245, 217);
    background-color: white;
    box-shadow: 0 0 10px rgb(127, 255, 212);
}
.inputFahrenheit:focus {
    outline-color:  rgb(11, 245, 217);
    background-color: white;
    box-shadow: 0 0 10px rgb(127, 255, 212);
}
.kalkulasi:focus {
    outline-color:  rgb(245, 11, 11);
    background-color: white;
    box-shadow: 0 0 10px rgb(244, 57, 57);
}